@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.custom-sidemenu.ant-menu {
  height: 100%;
}

/* colours used */
:root {
  --color-blue: #1677ff;
  --color-blue: #b5cef2;
}
/* ant-d modifications */
.ant-table-cell {
  padding: 5px 10px !important;
}
.ant-table-row {
  cursor: pointer;
}
.ant-form-item-label {
  padding: 0 !important;
}
.ant-form-item {
  margin-bottom: 10px;
}
.account-detailsCard .ant-card-head {
  background-color: #fcfcfc !important;
}
.ant-dropdown .ant-dropdown-menu {
  border-radius: 0px;
  padding: 0px;
}
.logout_btn {
  border: 0;
  width: 100%;
  padding: 0;
}
.custom-sidemenu .ant-menu-item {
  border-radius: 0px;
}
/* login in page */

.loginbg {
  background-image: url("./assets/img/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ant-form-item-label > label {
  font-weight: 500;
}
.loginbtn {
  border-radius: 0px !important;
  background-color: black;
  color: white;
  border-color: black !important  ;
}
.loginbtn:hover {
  background-color: rgb(77, 77, 77);
  color: white !important;
}
.login__googleBtn {
  border-radius: 0px !important;
  border-color: black !important  ;
  background-color: white;
  color: black;
}
.login__googleBtn:hover {
  background-color: rgb(230, 230, 230);
  color: black !important;
}
/* dashboard */
.border-radius-0 {
  border-radius: 0px !important;
}
.summary__card .ant-card-head {
  border-bottom: 0px;
}
.transaction__statisticsCard .ant-card-head {
  border-bottom: 0px;
}
.balance__card .ant-card-head {
  border-bottom: 0px;
}
/* Expense page */
.ant-picker-panel-container {
  border-radius: 0px;
}
.btn-primary:hover {
  color: white !important;
}
